<div>
    <h1 class="text-center my-5"><%=title%></h1>
    <div class="row">
        <form name="frm" class="col-md-4 mb-3">
            <div class="input-group">
                <input name="query" value="Node.js" class="form-control">
                <button class="btn btn-info">검색</button>
            </div>
        </form>
    </div>
    <div id="div_list"></div>
    <div class="text-center">
        <button id="prev" class="btn btn-primary">이전</button>
        <span id="page" class="mx-3">1</span>
        <button id="next" class="btn btn-primary">다음</button>
    </div>
    <!-- 어떻게 이쁘게 만들건지 template 만든다 -->
    <script id="temp_list" type="x-handlebars-template">
        <table class="table table-striped table-hover">
            {{#each documents}}
            <tr>
                <td><img src="{{thumbnail}}" width="50px"></td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{authors}}</td>
            </tr>
            {{/each}}
        </table>
    </script>
</div>
<script>
    let query=$(frm.query).val();
    let page=1;
    let size=5;

    getList();

    //다음버튼을 클릭한 경우
    $("#next").on("click", function(){
        page++;
        getList();
    });

    //이전버튼을 클릭한 경우
    $("#prev").on("click", function(){
        page--;
        getList();
    });

    //폼이 Submit되는 경우
    $(frm).on("submit", function(e){
        e.preventDefault();
        query = $(frm.query).val();
        if(query == "") {       
            alert("검색어를 입력하세요!");
            $(frm.query).focus();
            return;
        } else {
            page=1;
            getList();
        }
    });

    //도서목록 함수
    function getList(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            data: {query, size, page},
            headers:{
                "Authorization": "KakaoAK 2c469079118595ed1e34031fff8df2ef"
            },
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_list").html());
                $("#div_list").html(temp(data));

                // 전체 계수/책 계수 마지막 페이지를 구함
                const last = Math.ceil(data.meta.pageable_count/size);
                $("#page").html(page + "/" + last);
                
                if(page==1) $("#prev").attr("disabled", true)
                else $("#prev").attr("disabled", false)
                
                if(data.meta.is_end) $("#next").attr("disabled", true)
                else $("#next").attr("disabled", false)
                
            }
        });
    }
</script>